<!-- tournaments.html -->
{% extends 'admin/layout.html' %}

{% block title %}Tournaments{% endblock %}

{% block content %}
    <h2>Tournaments</h2>

    <div class="content-block">
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <td><a href="{{ url }}/{{ 'DESC' if order == 'ASC' else 'ASC' }}/id/1">#{% if order_by=='id' %}<i class="fas fa-level-{{ order.replace('ASC', 'up').replace('DESC', 'down') }}-alt fa-xs"></i>{% endif %}</a></td>
                        <td><a href="{{ url }}/{{ 'DESC' if order == 'ASC' else 'ASC' }}/name/1">Name{% if order_by=='name' %}<i class="fas fa-level-{{ order.replace('ASC', 'up').replace('DESC', 'down') }}-alt fa-xs"></i>{% endif %}</a></td>
                        <td><a href="{{ url }}/{{ 'DESC' if order == 'ASC' else 'ASC' }}/game_type/1">Game Type{% if order_by=='game_type' %}<i class="fas fa-level-{{ order.replace('ASC', 'up').replace('DESC', 'down') }}-alt fa-xs"></i>{% endif %}</a></td>
                        <td><a href="{{ url }}/{{ 'DESC' if order == 'ASC' else 'ASC' }}/start_date/1">Start Date{% if order_by=='start_date' %}<i class="fas fa-level-{{ order.replace('ASC', 'up').replace('DESC', 'down') }}-alt fa-xs"></i>{% endif %}</a></td>
                        <td><a href="{{ url }}/{{ 'DESC' if order == 'ASC' else 'ASC' }}/approved/1">Approved{% if order_by=='approved' %}<i class="fas fa-level-{{ order.replace('ASC', 'up').replace('DESC', 'down') }}-alt fa-xs"></i>{% endif %}</a></td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    {% if tournaments.length == 0 %}
                    <tr>
                        <td colspan="6" style="text-align:center;">There are no tournaments</td>
                    </tr>
                    {% endif %}
                    {% for tournament in tournaments %}
                    <tr>
                        <td>{{ tournament.id }}</td>
                        <td>{{ tournament.name }}</td>
                        <td>{{ tournament.game_type }}</td>
                        <td>{{ tournament.start_date.toLocaleString('vi-VN') }}</td>
                        <td>{{ tournament.approved }}</td>
                        <td>
                            <a href="/admin/tournament/{{ tournament.id }}">View Details</a>
                            <a href="/admin/tournament/approve/{{ tournament.id }}" onclick="return confirm('Are you sure you want to Approve this tournament?')">Approve</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
