{% extends 'admin/layout2.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="content profile">

    <h2>Profile Page</h2>

    <div class="block">

        <p>Your account details are below.</p>

        <div class="profile-detail">
            <strong>Username</strong>
            {{ account.username }}
        </div>
        
        <div class="profile-detail">
            <strong>Email</strong>
            {{ account.email }}
        </div>

        <div class="profile-detail">
            <strong>Role</strong>
            {{ account.role }}
        </div>

        <div class="profile-detail">
            <strong>Registered</strong>
            {{ account.registered }}
        </div>
        <div class="profile-detail">
            <strong>Balance :</strong>
            {{ account.balance }}
        </div>

        <a class="profile-btn" href="/edit_profile">Edit Details</a>

    </div>

</div>
<script>
    // Helper function to format the balance as currency
function formatCurrency(balance) {
  return balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

</script>
{% endblock %}